<!DOCTYPE html>
<html>
<head>
    <title>Available Books</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Available Books</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author ID</th>
            <th>Genre</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book[0] }}</td>
            <td>{{ book[1] }}</td>
            <td>{{ book[2] }}</td>
            <td>{{ book[3] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/" class="btn-primary">Back to Home</a>
    
    {% endblock %}
</body>
</html>

